<dato-preview title="Editable Header - Standalone">

  <dato-editable-header (onFocus)="focus()" (onBlur)="blur()" [formControl]="header" standalone="true"></dato-editable-header>

  <div class="mt-10" datoColor="primary-700">{{ isFocused ? "I'm focused!" : "I'm not focused"}}</div>

  <dato-tabs show="html,js">

    <textarea datoHighlight="html">
      <dato-editable-header (onFocus)="focus()" (onBlur)="blur()" [formControl]="header" standalone="true"></dato-editable-header>
    </textarea>

    <textarea datoHighlight="js">
      header = new FormControl("Header Text");
    </textarea>

  </dato-tabs>

</dato-preview>

<dato-preview title="Editable Header - Standalone Small">

  <dato-editable-header [formControl]="header" standalone="true" datoSmall></dato-editable-header>

  <dato-tabs show="html,js">

    <textarea datoHighlight="html">
      <dato-editable-header [formControl]="header" standalone="true" datoSmall></dato-editable-header>
    </textarea>

    <textarea datoHighlight="js">
      header = new FormControl("Header Text");
    </textarea>

  </dato-tabs>

</dato-preview>

<dato-preview title="Editable Header (Page Level)">

  <dato-editable-header [formControl]="header"></dato-editable-header>

  <dato-tabs show="html,js">

    <textarea datoHighlight="html">
      <dato-editable-header [formControl]="header"></dato-editable-header>
    </textarea>

    <textarea datoHighlight="js">
      header = new FormControl("Header Text");
    </textarea>

  </dato-tabs>

</dato-preview>


<div class="panel mt-4">

  <div class="panel-heading">
    API
  </div>

  <div class="panel-block">

    <dato-api-table>
      <tr>
        <td>standalone</td>
        <td>true</td>
        <td>false</td>
        <td>Use it when it's not in page header</td>
      </tr>
      <tr>
        <td>datoSmall</td>
        <td></td>
        <td>void</td>
        <td>Whether the input should be small</td>
      </tr>
      <tr>
        <td>fontSize</td>
        <td>any valid CSS</td>
        <td>14px</td>
        <td>The font size of the input</td>
      </tr>
    </dato-api-table>

  </div>

  <div class="panel-block">

    <dato-api-table type="outputs">
      <tr>
        <td>onFocus</td>
        <td ngNonBindable>FocusEvent</td>
        <td>This event is fired when the header input is focused</td>
      </tr>
      <tr>
        <td>onBlur</td>
        <td ngNonBindable>FocusEvent</td>
        <td>This event is fired when the header input is blured </td>
      </tr>

    </dato-api-table>

  </div>
</div>
