<dato-preview title="Editable Header">

  <dato-editable-header [formControl]="header"></dato-editable-header>

  <dato-tabs show="html,js">

    <textarea datoHighlight="html">
      <dato-editable-header [formControl]="header"></dato-editable-header>
    </textarea>

    <textarea datoHighlight="js">
      header = new FormControl("Header Text");
    </textarea>

  </dato-tabs>

</dato-preview>

<!--<div class="panel mt-4">-->

  <!--<div class="panel-heading">-->
    <!--API-->
  <!--</div>-->

  <!--<div class="panel-block">-->

    <!--<dato-api-table>-->
      <!--<tr>-->
        <!--<td>datoSize</td>-->
        <!--<td>lg, md, sm</td>-->
      <!--</tr>-->
    <!--</dato-api-table>-->

  <!--</div>-->
<!--</div>-->
