<dato-preview title="datoColor conditional directive">

  When the condition is true the datoColor adds the color
  <br>
  <dato-button (click)="someCondition = !someCondition">Toggle condition</dato-button>
  <div>   condition value: {{ someCondition }}</div>
  <div class="box primary-200-background-color" [datoColor]="someCondition && 'accent-700 background-color'"></div>
  <dato-tabs show="html">

    <textarea datoHighlight="html">

        <dato-button (click)="someCondition = !someCondition">Toggle condition</dato-button>
        <div class="box primary-200-background-color" [datoColor]="someCondition && 'accent-700 background-color'"></div>

    </textarea>

  </dato-tabs>

</dato-preview>

<dato-preview title="Colors">

  <dato-button (click)="changeTheme()">Change theme</dato-button>

  <section [datoPalette]="theme">

    <section class="d-flex d-flex-wrap">
      <div *ngFor="let color of group.primary">
        <span class="tag is-warning">{{color.color}} - {{color.hex}}</span>
        <div class="{{color.color}}-background-color box"></div>
      </div>
    </section>

    <section class="d-flex d-flex-wrap">
      <div *ngFor="let color of group.accent">
        <span class="tag is-warning">{{color.color}} - {{color.hex}}</span>
        <div class="{{color.color}}-background-color box"></div>
      </div>
    </section>

    <section class="d-flex d-flex-wrap">
      <div *ngFor="let color of group.green">
        <span class="tag is-warning">{{color.color}} - {{color.hex}}</span>
        <div class="{{color.color}}-background-color box"></div>
      </div>
    </section>

    <section class="d-flex d-flex-wrap">
      <div *ngFor="let color of group.yellow">
        <span class="tag is-warning">{{color.color}} - {{color.hex}}</span>
        <div class="{{color.color}}-background-color box"></div>
      </div>
    </section>

    <section class="d-flex d-flex-wrap">
      <div *ngFor="let color of group.red">
        <span class="tag is-warning">{{color.color}} - {{color.hex}}</span>
        <div class="{{color.color}}-background-color box"></div>
      </div>
    </section>

    <section class="d-flex d-flex-wrap">
      <div *ngFor="let color of group.orange">
        <span class="tag is-warning">{{color.color}} - {{color.hex}}</span>
        <div class="{{color.color}}-background-color box"></div>
      </div>
    </section>

  </section>

  <dato-tabs>

    <textarea datoHighlight="html">

      <div datoColor="primary-100"></div>

      <div datoColor="accent-100, accent-200 border-left border-right"></div>

      <section datoPalette="dark"></section>

      <section [datoPalette]="dynmaic"></section>

    </textarea>

    <textarea datoHighlight="css">
      .my-awesome-rule { background-color: themify(primary-100); border: solid 1px themify(accent-400, 0.5); border: 1px solid
      themify(primary-200); } .custom { background-color: themify((dark: primary-300, light: [accent-400, 0.4])); }

    </textarea>

  </dato-tabs>
</dato-preview>
