<dato-preview title="Ace">

  <section style="display: flex; justify-content: space-between; margin-bottom: 1rem;">
    <dato-select [formControl]="themesControl" [dataSet]="themes" [isCombo]="false" #themesSelect
                 style="width: 200px;"
                 placeholder="Select Theme..">

      <dato-option *ngFor="let option of themesSelect.data;" [option]="option">
        {{option.label}}
      </dato-option>

    </dato-select>

    <dato-button (click)="prettify()" datoType="orange">Prettify</dato-button>

  </section>

  <section style="display: flex; flex-wrap: wrap;">

    <div style="flex: 1 1 50%">
      <h5>HTML</h5>
      <div datoAce [formControl]="htmlControl" lang="html" [HTMLCompletions]="htmlMap" #htmlEditor="datoAce"
           class="editor"></div>
    </div>

    <div style="flex: 1 1 50%">
      <h5>CSS</h5>
      <div datoAce [formControl]="cssControl" lang="css" #cssEditor="datoAce" class="editor"></div>
    </div>

    <div style="flex: 1 1 100%;">
      <section class="dropText">
        <h5>JS</h5>

        <section style="display: flex;">
          <div aceDraggableText="DA.navigation.dashboard.goToPage({ pageId: 1 })">Navigate to a page</div>
          <div aceDraggableText="DA.navigation.dashboard.scrollToWidget({ widgetId: 1 })">Scroll to a widget</div>
          <div aceDraggableText="DA.navigation.open({ url: '', type: '_blank/_top/dialog' })">Open page</div>

          <div aceDraggableText="DA.query.getQuery()">Get query</div>
          <div aceDraggableText="DA.query.hasQuery()">Has query</div>
          <div aceDraggableText="DA.query.getQueryResult()">Get query result</div>
        </section>

      </section>

      <div datoAce [formControl]="jsControl" lang="javascript" [JSObjectCompletions]="DAObjectMap" class="editor"
           style="width: 100%"
           #jsEditor="datoAce"></div>
    </div>
  </section>


  <dato-tabs show="html">

    <textarea datoHighlight="html">
      <div datoAce [formControl]="cssControl" lang="css" #cssEditor="datoAce" class="editor"></div>
      <div aceDraggableText="DA.navigation.dashboard.goToPage({ pageId: 1 })">Navigate to a page</div>
    </textarea>

  </dato-tabs>

</dato-preview>

<div class="panel mt-4">

  <div class="panel-heading">
    API
  </div>

  <div class="panel-block">

    <dato-api-table>
      <tr>
        <td>lang</td>
        <td>ace lang</td>
        <td>text</td>
        <td></td>
      </tr>
      <tr>
        <td>theme</td>
        <td>ace theme</td>
        <td>ace default</td>
        <td></td>
      </tr>
      <tr>
        <td>options</td>
        <td>ace options</td>
        <td>ace & core default options</td>
        <td></td>
      </tr>
      <tr>
        <td>HTMLCompletions</td>
        <td></td>
        <td></td>
        <td>custom HTML tags</td>
      </tr>
      <tr>
        <td>JSObjectCompletions</td>
        <td></td>
        <td></td>
        <td>custom JS object</td>
      </tr>
    </dato-api-table>

  </div>
</div>
