<dato-preview title="Ace">

  <dato-select [formControl]="themesControl" [dataSet]="themes" [isCombo]="false" #themesSelect>

    <dato-option *ngFor="let option of themesSelect.data;" [option]="option">
      {{option.label}}
    </dato-option>

  </dato-select>

  <dato-button (click)="prettify()">Prettify</dato-button>


  <section style="display: flex;">

    <div>
      <h5>HTML</h5>
      <div dato-ace [formControl]="htmlControl" lang="html" [HTMLCompletions]="htmlMap" #htmlEditor="datoAce" style="width: 500px; height: 200px"></div>

      <button (click)="updateHTML()">update</button>
      <button (click)="updateFields()">update fields</button>

      {{htmlControl.value}}
    </div>

    <div>
      <h5>CSS</h5>
      <div dato-ace [formControl]="cssControl" lang="css" style="width: 500px; height: 200px" #cssEditor="datoAce"></div>

      <button (click)="updateCSS()">update</button>
      {{cssControl.value}}
    </div>

    <div>
      <h5>JS</h5>
      <section>
        <div aceDraggableText="DA.navigation.dashboard.goToPage({ pageId: 1 })">Navigate to a page</div>
        <div aceDraggableText="DA.navigation.dashboard.scrollToWidget({ widgetId: 1 })">Scroll to a widget</div>
        <div aceDraggableText="DA.navigation.open({ url: '', type: '_blank/_top/dialog' })">Open page</div>

        <div aceDraggableText="DA.query.getQuery()">Get query</div>
        <div aceDraggableText="DA.query.hasQuery()">Has query</div>
        <div aceDraggableText="DA.query.getQueryResult()">Get query result</div>
      </section>
      <div dato-ace [formControl]="jsControl" lang="javascript" [JSObjectCompletions]="DAObjectMap" style="width: 500px; height: 200px" #jsEditor="datoAce"></div>


      <button (click)="updateJS()">update</button>


      {{jsControl.value}}
    </div>
  </section>


  <dato-tabs show="html">

    <textarea datoHighlight="html">
      <dato-ace></dato-ace>
    </textarea>

  </dato-tabs>

</dato-preview>

<div class="panel mt-4">

  <div class="panel-heading">
    API
  </div>

  <div class="panel-block">

    <dato-api-table>
      <tr>
        <td>datoSize</td>
        <td>lg, md, sm</td>
      </tr>
    </dato-api-table>

  </div>
</div>
