<dato-preview title="Select Single - No Search">

  <section class="d-flex">
    <div class="select-preview">

      <dato-select [formControl]="simpleControl" [dataSet]="options" [isCombo]="false" #datoSelectSimple>

        <dato-option *ngFor="let option of datoSelectSimple.data; index as index" [option]="option" [disabled]="index === 1">
          {{option.label}}
        </dato-option>

      </dato-select>

      <p datoFont class="mt-10">Control value: <span class="code">{{simpleControl.value | json}}</span></p>

    </div>

  </section>

</dato-preview>


<dato-preview title="Select Single - Async Pipe">

  <section class="d-flex">
    <div class="select-preview">

      <dato-select [formControl]="asyncControl" [dataSet]="options$ | async" #datoSelectAsync>

        <dato-option *ngFor="let option of datoSelectAsync.data" [option]="option">
          {{option.label}}
        </dato-option>

      </dato-select>

      <p datoFont class="mt-10">Control value: <span class="code">{{asyncControl.value | json}}</span></p>

    </div>

  </section>

</dato-preview>


<dato-preview title="Select Single - With Search">

  <section class="d-flex">
    <div class="select-preview">

      <dato-select [formControl]="simpleControlSearch" [dataSet]="options" #datoSelectSearch>

        <dato-option *ngFor="let option of datoSelectSearch.data" [option]="option">
          {{option.label}}
        </dato-option>

      </dato-select>

      <p datoFont class="mt-10">Control value: <span class="code">{{simpleControlSearch.value | json}}</span></p>

    </div>

  </section>

</dato-preview>


<dato-preview title="Select Single - Server Side Search">

  <section class="d-flex">
    <div class="select-preview">

      <dato-select [formControl]="serverSideControl" [dataSet]="optionsFromServer"
                   (search)="onSearch($event)"
                   [isLoading]="isLoading"
                   [internalSearch]="false"
                   #datoSelectServer>

        <dato-option *ngFor="let option of datoSelectServer.data" [option]="option">
          {{option.label}}
        </dato-option>

      </dato-select>

      <p datoFont class="mt-10">Control value: <span class="code">{{serverSideControl.value | json}}</span></p>

    </div>

  </section>

</dato-preview>



<dato-preview title="Select Single - Disabled">

  <section class="d-flex">
    <div class="select-preview">

      <dato-select [formControl]="controlDisabled" [dataSet]="options$ | async" #datoSelectDisabled>

        <dato-option *ngFor="let option of datoSelectDisabled.data" [option]="option">
          {{option.label}}
        </dato-option>

      </dato-select>

      <dato-button (click)="toggleDisableEnable()" datoSize="sm" class="mt-10">Toggle Disable/enable</dato-button>
      <p datoFont class="mt-10">Control value: <span class="code">{{controlDisabled.value | json}}</span></p>

    </div>

  </section>

</dato-preview>


<dato-preview title="Select Single - Custom Template">

  <section class="d-flex">
    <div class="select-preview">

      <dato-select [formControl]="activeTplControl" [dataSet]="options" #datoSelectActiveTpl>

        <ng-container *datoActive="let active">
          <div class="d-flex items-center">
            <dato-icon datoIcon="pin" datoSize="md" width="15px" class="mr-5" datoColor="green-400"></dato-icon>
            {{active?.label}}
          </div>
        </ng-container>

        <dato-option *ngFor="let option of datoSelectActiveTpl.data" [option]="option">
          <div class="d-flex items-center">
            <dato-icon datoIcon="pin" datoSize="md" class="mr-5" width="15px"></dato-icon>
            {{option.label}}
          </div>
        </dato-option>

      </dato-select>

      <p datoFont class="mt-10">Control value: <span class="code">{{activeTplControl.value | json}}</span></p>

    </div>

  </section>

</dato-preview>


<dato-preview title="Group - Single">

  <section class="d-flex">
    <div class="select-preview">

      <dato-select [formControl]="groupControl" [dataSet]="grouped" #datoSelectGroup>

        <dato-group *ngFor="let group of datoSelectGroup.data">
          <div groupLabel>{{group.label}}</div>

          <dato-option *ngFor="let option of group.children" [option]="option">
            {{option.label}}
          </dato-option>

        </dato-group>

      </dato-select>

      <p datoFont class="mt-10">Control value: <span class="code">{{groupControl.value | json}}</span></p>

    </div>

  </section>

</dato-preview>

<dato-preview title="Group - Multi">

  <section class="d-flex">
    <div class="select-preview">

      <dato-select [formControl]="groupControlMulti" [dataSet]="grouped" #datoSelectGroupMulti type="multi">

        <dato-group *ngFor="let group of datoSelectGroupMulti.data">
          <div groupLabel>{{group.label}}</div>

          <dato-option *ngFor="let option of group.children" [option]="option" multi>
            {{option.label}}
          </dato-option>

        </dato-group>

      </dato-select>

      <p datoFont class="mt-10">Control value: <span class="code">{{groupControlMulti.value | json}}</span></p>

    </div>

  </section>

</dato-preview>


<dato-preview title="Select Multi - With Footer">

  <section class="d-flex">
    <div class="select-preview">

      <dato-select [formControl]="withActionsControl" [dataSet]="options" #datoSelectFooter (save)="onSave()" type="multi">

        <dato-option *ngFor="let option of datoSelectFooter.data" [option]="option" multi>
          {{option.label}}
        </dato-option>

      </dato-select>

      <p datoFont class="mt-10">Control value: <span class="code">{{withActionsControl.value | json}}</span></p>

    </div>

  </section>

</dato-preview>



<dato-preview title="Select Multi - With Search And Select All">

  <section class="d-flex">
    <div class="select-preview">

      <dato-select [formControl]="multiControl" [dataSet]="options" #datoSelectMulti type="multi" [allowSelectAll]="true">

        <dato-option *ngFor="let option of datoSelectMulti.data" [option]="option" multi>
          {{option.label}}
        </dato-option>

      </dato-select>

      <p datoFont class="mt-10">Control value: <span class="code">{{multiControl.value | json}}</span></p>

    </div>

  </section>

</dato-preview>
