<dato-preview title="Select Single - No Search">

  <section class="d-flex">
    <div class="select-preview">

      <dato-select (blur)="blur()" [formControl]="simpleControl" [dataSet]="options" [isCombo]="false" #datoSelectSimple datoSelectClass="netanel">

        <dato-option *ngFor="let option of datoSelectSimple.data; index as index" [option]="option"
                     [disabled]="index === 1">
          {{option.label}}
        </dato-option>

      </dato-select>

      <p datoFont class="mt-10">Control value: <span class="code">{{simpleControl.value | json}}</span></p>

    </div>

  </section>
  <dato-tabs show="html">

    <textarea datoHighlight="html">
      <dato-select (blur)="blur()" [formControl]="simpleControl" [dataSet]="options" [isCombo]="false" #datoSelectSimple datoSelectClass="netanel">

        <dato-option *ngFor="let option of datoSelectSimple.data; index as index" [option]="option"
                     [disabled]="index === 1">
          option.label
        </dato-option>

      </dato-select>
    </textarea>

  </dato-tabs>
</dato-preview>


<dato-preview title="Select Single - Async Pipe">

  <section class="d-flex">
    <div class="select-preview">
      <button (click)="update()">Update to item 3</button>

      <dato-select [formControl]="asyncControl" [dataSet]="options$ | async" #datoSelectAsync>

        <dato-option *ngFor="let option of datoSelectAsync.data; index as index" [option]="option"
                     [disabled]="index === 1">
          {{option.label}}
        </dato-option>

      </dato-select>

      <p datoFont class="mt-10">Control value: <span class="code">{{asyncControl.value | json}}</span></p>

    </div>

  </section>

  <dato-tabs show="html">

    <textarea datoHighlight="html">
      <dato-select [formControl]="asyncControl" [dataSet]="options$ | async" #datoSelectAsync>

        <dato-option *ngFor="let option of datoSelectAsync.data; index as index" [option]="option"
                     [disabled]="index === 1">
          option.label
        </dato-option>

      </dato-select>
    </textarea>

  </dato-tabs>

</dato-preview>


<dato-preview title="Select Single - With Search">

  <section class="d-flex">
    <div class="select-preview">

      <p datoSize="sub-headline">Large</p>

      <dato-select [formControl]="simpleControlSearch" [dataSet]="options" #datoSelectSearch datoSize="lg">

        <dato-option *ngFor="let option of datoSelectSearch.data" [option]="option">
          {{option.label}}
        </dato-option>

      </dato-select>

      <p datoFont class="mt-10">Control value: <span class="code">{{simpleControlSearch.value | json}}</span></p>

    </div>

    <div class="select-preview" style="margin-left: 20px;">

      <p datoSize="sub-headline">Medium</p>

      <dato-select [formControl]="simpleControlSearch2" [dataSet]="options" #datoSelectSearch2>

        <dato-option *ngFor="let option of datoSelectSearch2.data" [option]="option">
          {{option.label}}
        </dato-option>

      </dato-select>

      <p datoFont class="mt-10">Control value: <span class="code">{{simpleControlSearch2.value | json}}</span></p>

    </div>

    <div class="select-preview" style="margin-left: 20px;">

      <p datoSize="sub-headline">Small</p>

      <dato-select [formControl]="simpleControlSearch3" [dataSet]="options" #datoSelectSearch3 datoSize="sm">

        <dato-option *ngFor="let option of datoSelectSearch3.data" [option]="option">
          {{option.label}}
        </dato-option>

      </dato-select>

      <p datoFont class="mt-10">Control value: <span class="code">{{simpleControlSearch.value | json}}</span></p>

    </div>
  </section>

  <dato-tabs show="html">

    <textarea datoHighlight="html">
      <dato-select [formControl]="simpleControlSearch" [dataSet]="options" #datoSelectSearch datoSize="lg">

        <dato-option *ngFor="let option of datoSelectSearch.data" [option]="option">
          option.label
        </dato-option>

      </dato-select>

      <dato-select [formControl]="simpleControlSearch3" [dataSet]="options" #datoSelectSearch3 datoSize="sm">

        <dato-option *ngFor="let option of datoSelectSearch3.data" [option]="option">
          option.label
        </dato-option>

      </dato-select>
    </textarea>

  </dato-tabs>

</dato-preview>

<dato-preview title="Select Multi">

  <section class="d-flex">
    <div class="select-preview" style="width: 500px;">

      <p datoSize="sub-headline">Large</p>

      <dato-select [formControl]="multiControl" [dataSet]="options" type="multi" #datoSelectMulti2 datoSize="lg">

        <dato-option *ngFor="let option of datoSelectMulti2.data" [option]="option" multi>
          {{option.label}}
        </dato-option>

      </dato-select>

      <p datoFont class="mt-10">Control value: <span class="code">{{multiControl.value | json}}</span></p>

    </div>

    <div class="select-preview" style="width: 500px; margin-left: 20px">

      <p datoSize="sub-headline">Medium</p>

      <dato-select [formControl]="multiControl2" [dataSet]="options" type="multi" #datoSelectMulti3>

        <dato-option *ngFor="let option of datoSelectMulti3.data" [option]="option" multi>
          {{option.label}}
        </dato-option>

      </dato-select>

      <p datoFont class="mt-10">Control value: <span class="code">{{multiControl2.value | json}}</span></p>

    </div>

    <div class="select-preview" style="width: 500px; margin-left: 20px">

      <p datoSize="sub-headline">Small</p>

      <dato-select [formControl]="multiControl3" [dataSet]="options" type="multi" #datoSelectMulti4 datoSize="sm">

        <dato-option *ngFor="let option of datoSelectMulti4.data" [option]="option" multi>
          {{option.label}}
        </dato-option>

      </dato-select>

      <p datoFont class="mt-10">Control value: <span class="code">{{multiControl3.value | json}}</span></p>

    </div>

  </section>

  <dato-tabs show="html">

    <textarea datoHighlight="html">
      <dato-select [formControl]="multiControl" [dataSet]="options" type="multi" #datoSelectMulti2 datoSize="lg">

        <dato-option *ngFor="let option of datoSelectMulti2.data" [option]="option" multi>
          option.label
        </dato-option>

      </dato-select>

      <dato-select [formControl]="multiControl3" [dataSet]="options" type="multi" #datoSelectMulti4 datoSize="sm">

        <dato-option *ngFor="let option of datoSelectMulti4.data" [option]="option" multi>
          option.label
        </dato-option>

      </dato-select>
    </textarea>

  </dato-tabs>

</dato-preview>

<dato-preview title="Select Single - Server Side Search">

  <section class="d-flex">
    <div class="select-preview">

      <dato-select [formControl]="serverSideControl" [dataSet]="optionsFromServer"
                   (search)="onSearch($event)"
                   [isLoading]="isLoading"
                   [internalSearch]="false"
                   #datoSelectServer>

        <dato-option *ngFor="let option of datoSelectServer.data" [option]="option">
          {{option.label}}
        </dato-option>

      </dato-select>

      <p datoFont class="mt-10">Control value: <span class="code">{{serverSideControl.value | json}}</span></p>

    </div>

  </section>

  <dato-tabs show="html">

    <textarea datoHighlight="html">
      <dato-select [formControl]="serverSideControl"
                   [dataSet]="optionsFromServer"
                   (search)="onSearch($event)"
                   [isLoading]="isLoading"
                   [internalSearch]="false"
                   #datoSelectServer>

        <dato-option *ngFor="let option of datoSelectServer.data" [option]="option">
          option.label
        </dato-option>

      </dato-select>
    </textarea>

  </dato-tabs>

</dato-preview>


<dato-preview title="Select Single - Disabled">

  <section class="d-flex">
    <div class="select-preview">

      <dato-select [formControl]="controlDisabled" [dataSet]="options$ | async" #datoSelectDisabled>

        <dato-option *ngFor="let option of datoSelectDisabled.data" [option]="option">
          {{option.label}}
        </dato-option>

      </dato-select>

      <dato-button (click)="toggleDisableEnable()" datoSize="sm" class="mt-10">Toggle Disable/enable</dato-button>
      <p datoFont class="mt-10">Control value: <span class="code">{{controlDisabled.value | json}}</span></p>

    </div>

  </section>

  <dato-tabs show="html,js">

    <textarea datoHighlight="html">
      <dato-select [formControl]="controlDisabled" [dataSet]="options$ | async" #datoSelectDisabled>

        <dato-option *ngFor="let option of datoSelectDisabled.data" [option]="option">
          option.label
        </dato-option>

      </dato-select>

    </textarea>

    <textarea datoHighlight="js">
      controlDisabled.disable();
      controlDisabled.enable();
    </textarea>
  </dato-tabs>
</dato-preview>

<dato-preview title="Select Multi - Disabled">

  <section class="d-flex">
    <div class="select-preview" style="width: 500px;">

      <dato-select [formControl]="multiDisableControl" [dataSet]="options" #datoSelectMultiDisabled type="multi">

        <dato-option *ngFor="let option of datoSelectMultiDisabled.data" [option]="option" multi>
          {{option.label}}
        </dato-option>

      </dato-select>

      <p datoFont class="mt-10">Control value: <span class="code">{{multiDisableControl.value | json}}</span></p>

    </div>

  </section>

  <dato-tabs show="html,js">

    <textarea datoHighlight="html">
      <dato-select [formControl]="multiDisableControl" [dataSet]="options" #datoSelectMultiDisabled type="multi">

        <dato-option *ngFor="let option of datoSelectMultiDisabled.data" [option]="option" multi>
          option.label
        </dato-option>

      </dato-select>

    </textarea>

    <textarea datoHighlight="js">
      controlDisabled.disable();
      controlDisabled.enable();
    </textarea>
  </dato-tabs>

</dato-preview>


<dato-preview title="Select Single - Custom Template">

  <section class="d-flex">
    <div class="select-preview">

      <dato-select [formControl]="activeTplControl" [dataSet]="options" #datoSelectActiveTpl>

        <ng-container *datoActive="let active">
          <div class="d-flex items-center">
            <dato-icon datoIcon="pin" datoSize="md" width="15px" class="mr-5" datoColor="green-400"></dato-icon>
            {{active?.label}}
          </div>
        </ng-container>

        <dato-option *ngFor="let option of datoSelectActiveTpl.data" [option]="option">
          <div class="d-flex items-center">
            <dato-icon datoIcon="pin" datoSize="md" class="mr-5" width="15px"></dato-icon>
            {{option.label}}
          </div>
        </dato-option>

      </dato-select>

      <p datoFont class="mt-10">Control value: <span class="code">{{activeTplControl.value | json}}</span></p>

    </div>

  </section>

  <dato-tabs show="html">

    <textarea datoHighlight="html">
      <dato-select [formControl]="activeTplControl" [dataSet]="options" #datoSelectActiveTpl>

        <ng-container *datoActive="let active">
          <div class="d-flex items-center">
            <dato-icon datoIcon="pin" datoSize="md" width="15px" class="mr-5" datoColor="green-400"></dato-icon>
            active?.label
          </div>
        </ng-container>

        <dato-option *ngFor="let option of datoSelectActiveTpl.data" [option]="option">
          <div class="d-flex items-center">
            <dato-icon datoIcon="pin" datoSize="md" class="mr-5" width="15px"></dato-icon>
            option.label
          </div>
        </dato-option>

      </dato-select>
    </textarea>

  </dato-tabs>

</dato-preview>


<dato-preview title="Group - Single">

  <section class="d-flex">
    <div class="select-preview">

      <dato-select [formControl]="groupControl" [dataSet]="grouped" #datoGroup>

        <dato-group *ngFor="let group of datoGroup.data">
          <div groupLabel>{{group.label}}</div>

          <dato-option *ngFor="let option of group.children" [option]="option">
            {{option.label}}
          </dato-option>

        </dato-group>

      </dato-select>

      <p datoFont class="mt-10">Control value: <span class="code">{{groupControl.value | json}}</span></p>

    </div>

  </section>

  <dato-tabs show="html">

    <textarea datoHighlight="html">
       <dato-select [formControl]="groupControl" [dataSet]="grouped" #datoGroup>

        <dato-group *ngFor="let group of datoGroup.data">
          <div groupLabel>group.label</div>

          <dato-option *ngFor="let option of group.children" [option]="option">
            option.label
          </dato-option>

        </dato-group>

      </dato-select>
    </textarea>

  </dato-tabs>
</dato-preview>

<dato-preview title="Group - Multi">

  <section class="d-flex">
    <div class="select-preview" style="width: 500px;">

      <dato-select [formControl]="groupControlMulti" [dataSet]="grouped" #datoGroupMulti type="multi">

        <dato-group *ngFor="let group of datoGroupMulti.data">
          <div groupLabel>{{group.label}}</div>

          <dato-option *ngFor="let option of group.children; index as index" [option]="option" multi
                       [disabled]="index === 0">
            {{option.label}}
          </dato-option>

        </dato-group>

      </dato-select>

      <p datoFont class="mt-10">Control value: <span class="code">{{groupControlMulti.value | json}}</span></p>

    </div>

  </section>

  <dato-tabs show="html">

    <textarea datoHighlight="html">
      <dato-select [formControl]="groupControlMulti" [dataSet]="grouped" #datoGroupMulti type="multi">

        <dato-group *ngFor="let group of datoGroupMulti.data">
          <div groupLabel>group.label</div>

          <dato-option *ngFor="let option of group.children; index as index" [option]="option" multi
                       [disabled]="index === 0">
            option.label
          </dato-option>

        </dato-group>

      </dato-select>
    </textarea>

  </dato-tabs>
</dato-preview>


<dato-preview title="Select Multi - With Actions">

  <section class="d-flex">
    <div class="select-preview" style="width: 500px;">

      <dato-select [formControl]="withActionsControl" [dataSet]="options" #datoSelectFooter (save)="onSave()"
                   type="multi">

        <dato-option *ngFor="let option of datoSelectFooter.data" [option]="option" multi>
          {{option.label}}
        </dato-option>

      </dato-select>

      <p datoFont class="mt-10">Control value: <span class="code">{{withActionsControl.value | json}}</span></p>

    </div>

  </section>

  <dato-tabs show="html">

    <textarea datoHighlight="html">
      <dato-select [formControl]="withActionsControl" [dataSet]="options" #datoSelectFooter (save)="onSave()"
                   type="multi">

        <dato-option *ngFor="let option of datoSelectFooter.data" [option]="option" multi>
          option.label
        </dato-option>

      </dato-select>
    </textarea>

  </dato-tabs>

</dato-preview>


<dato-preview title="Select Multi - With Custom Footer">

  <section class="d-flex">
    <div class="select-preview" style="width: 500px;">

      <dato-select [formControl]="customFooterControl" [dataSet]="options" #datoSelectCustomFooter type="multi">

        <dato-option *ngFor="let option of datoSelectCustomFooter.data" [option]="option" multi>
          {{option.label}}
        </dato-option>

        <div datoSelectFooter>
          <dato-button (click)="datoSelectCustomFooter.close()">Content inside footer</dato-button>
        </div>

      </dato-select>

      <p datoFont class="mt-10">Control value: <span class="code">{{customFooterControl.value | json}}</span></p>

    </div>

  </section>

  <dato-tabs show="html">

    <textarea datoHighlight="html">
      <dato-select [formControl]="customFooterControl" [dataSet]="options" #datoSelectCustomFooter type="multi">

        <dato-option *ngFor="let option of datoSelectCustomFooter.data" [option]="option" multi>
          option.label
        </dato-option>

        <div datoSelectFooter>
          <dato-button (click)="datoSelectCustomFooter.close()">Content inside footer</dato-button>
        </div>

      </dato-select>
    </textarea>

  </dato-tabs>

</dato-preview>


<dato-preview title="Select Multi - With Search And Select All">

  <section class="d-flex">
    <div class="select-preview" style="width: 500px;">

      <dato-select [formControl]="multiControl" [dataSet]="options" #datoSelectMulti
                   type="multi"
                   [allowSelectAll]="true">

        <dato-option *ngFor="let option of datoSelectMulti.data" [option]="option" multi>
          {{option.label}}
        </dato-option>

      </dato-select>

      <p datoFont class="mt-10">Control value: <span class="code">{{multiControl.value | json}}</span></p>

    </div>

  </section>

  <dato-tabs show="html">

    <textarea datoHighlight="html">
      <dato-select [formControl]="multiControl" [dataSet]="options" #datoSelectMulti type="multi"
                   [allowSelectAll]="true">

        <dato-option *ngFor="let option of datoSelectMulti.data" [option]="option" multi>
          option.label
        </dato-option>

      </dato-select>
    </textarea>

  </dato-tabs>

</dato-preview>

<dato-preview title="Select Multi - Limit the Display of Selected Results">

  <section class="d-flex">
    <div class="select-preview" style="width: 500px;">

      <dato-select [formControl]="multiControlWithLimit" [dataSet]="options" #datoSelectMultiLimit
                   type="multi" limitTo="1"
                   [allowSelectAll]="true">

        <dato-option *ngFor="let option of datoSelectMultiLimit.data" [option]="option" multi>
          {{option.label}}
        </dato-option>

      </dato-select>

      <p datoFont class="mt-10">Control value: <span class="code">{{multiControlWithLimit.value | json}}</span></p>

    </div>

  </section>

  <dato-tabs show="html">

    <textarea datoHighlight="html">
      <dato-select [formControl]="multiControl" [dataSet]="options" #datoSelectMultiLimit
                   type="multi" limitTo="1"
                   [allowSelectAll]="true">

        <dato-option *ngFor="let option of datoSelectMultiLimit.data" [option]="option" multi>
          option.label
        </dato-option>

      </dato-select>
    </textarea>

  </dato-tabs>

</dato-preview>

<dato-preview title="Infinite Scroll">

  <section class="d-flex">
    <div class="select-preview">

      <dato-select [formControl]="infiniteControl" [dataSet]="infiniteOptions"
                   [infiniteScrollLoading]="infiniteScrollLoading" #datoSelectInfinite (fetch)="fetchMore()">

        <dato-option *ngFor="let option of datoSelectInfinite.data; index as index" [option]="option">
          {{option.label}}
        </dato-option>

      </dato-select>

      <p datoFont class="mt-10">Control value: <span class="code">{{infiniteControl.value | json}}</span></p>

    </div>

  </section>

  <dato-tabs show="html">

    <textarea datoHighlight="html">
      <dato-select [formControl]="infiniteControl" [dataSet]="infiniteOptions"
                   [infiniteScrollLoading]="infiniteScrollLoading" #datoSelectInfinite
                   (fetch)="fetchMore()"></dato-select>
    </textarea>

  </dato-tabs>
</dato-preview>

<dato-preview title="Group - With Data Normalization">

  <section class="d-flex">
    <div class="select-preview">

      <dato-select [formControl]="flattenedControl" [dataSet]="flattenedOptions" [groupBy]="'group'" #datoDataNormilization>

        <dato-group *ngFor="let group of datoDataNormilization.data">
          <div groupLabel>{{group.label}}</div>

          <dato-option *ngFor="let option of group.children" [option]="option">
            {{option.label}}
          </dato-option>

        </dato-group>

      </dato-select>

      <p datoFont class="mt-10">Control value: <span class="code">{{flattenedControl.value | json}}</span></p>

    </div>

  </section>

  <dato-tabs show="html">

    <textarea datoHighlight="html">
        <dato-select [formControl]="flattenedControl" [dataSet]="flattenedOptions" [groupBy]="'group'" #datoDataNormilization>

        <dato-group *ngFor="let group of datoDataNormilization.data">
          <div groupLabel>group.label</div>

          <dato-option *ngFor="let option of group.children" [option]="option">
            option.label
          </dato-option>

        </dato-group>

      </dato-select>
    </textarea>

  </dato-tabs>
  <dato-tabs show="js">
    <textarea datoHighlight="js">
      flattenedOptions=[{ id: 1, label: 'abc', group: 'A' }, { id: 2, label: 'efg', group: 'A' }, { id: 3, label: 'hij', group: 'A' }, { id: 4, label: 'klm', group: 'B' }, { id: 5, label: 'nop', group: 'C' }];
    /** turned into:  [
    * { label: 'A',
    *   children: [
    *    { id: 1, label: 'abc', group: 'A' },
    *    { id: 2, label: 'efg', group: 'A' },
    *    { id: 3, label: 'hij', group: 'A' }
    *  ]},
    * { label: 'B',
    *   children: [
    *    { id: 4, label: 'klm', group: 'B' }
    *  ]},
    * { label: 'C',
    *   children: [
    *    { id: 5, label: 'nop', group: 'C' }
    *  ]}
    * ]
      */
    </textarea></dato-tabs>
</dato-preview>


<div class="panel mt-4">

  <div class="panel-heading">
    API
  </div>

  <div class="panel-block">

    <dato-api-table>
      <tr>
        <td>idKey</td>
        <td>string</td>
        <td>id</td>
        <td>
          The key that stores the option id
        </td>
      </tr>
      <tr>
        <td>labelKey</td>
        <td>string</td>
        <td>label</td>
        <td>The lookup key for the label</td>
      </tr>
      <tr>
        <td>placeholder</td>
        <td>translate key (general.search)</td>
        <td>Select..</td>
        <td>Placeholder</td>
      </tr>
      <tr>
        <td>searchPlaceholder</td>
        <td>translate key (general.search)</td>
        <td>Search..</td>
        <td>Placeholder for the search input</td>
      </tr>
      <tr>
        <td>noItemsLabel</td>
        <td>translate key</td>
        <td>No items found</td>
        <td>Placeholder for when there are no items</td>
      </tr>
      <tr>
        <td>isCombo</td>
        <td>boolean</td>
        <td>true</td>
        <td>Wheteher to allow search</td>
      </tr>
      <tr>
        <td>isGroup</td>
        <td>boolean</td>
        <td>false</td>
        <td>Wheteher it's a group</td>
      </tr>
      <tr>
        <td>internalSearch</td>
        <td>boolean</td>
        <td>true</td>
        <td>Wheteher to perform an internal search</td>
      </tr>
      <tr>
        <td>groupBy</td>
        <td>string</td>
        <td>undefined</td>
        <td>If defined, data normalization is performed on the dataSet</td>
      </tr>
      <tr>
        <td>debounceTime</td>
        <td>number</td>
        <td>300</td>
        <td></td>
      </tr>
      <tr>
        <td>isLoading</td>
        <td>boolean</td>
        <td>false</td>
        <td>Whether to show loading indicator</td>
      </tr>
      <tr>
        <td>allowSelectAll</td>
        <td>boolean</td>
        <td>false</td>
        <td>Whether to allow select all checkbox</td>
      </tr>
      <tr>
        <td>type</td>
        <td>single | multi</td>
        <td>single</td>
        <td>The select type</td>
      </tr>
      <tr>
        <td>placement</td>
        <td>string</td>
        <td>bottom-start</td>
        <td>Popper js placement</td>
      </tr>
      <tr>
        <td>datoSelectClass</td>
        <td>string</td>
        <td></td>
        <td>Custom class to add</td>
      </tr>
      <tr>
        <td>limitTo</td>
        <td>number</td>
        <td>10</td>
        <td>Limit the number of options to display in multi select</td>
      </tr>
      <tr>
        <td>naked</td>
        <td>boolean</td>
        <td>false</td>
        <td>Whether to remove the select border</td>
      </tr>

    </dato-api-table>

  </div>
</div>


<div class="panel mt-4">

  <div class="panel-heading">
    API
  </div>

  <div class="panel-block">

    <dato-api-table type="outputs">
      <tr>
        <td>search</td>
        <td>string</td>
        <td>Emits search value when internal search is false</td>
      </tr>
      <tr>
        <td>save</td>
        <td>void</td>
        <td>Emits when the user clicks save</td>
      </tr>
      <tr>
        <td>fetch</td>
        <td>string</td>
        <td>Emit search value when internal search is false</td>
      </tr>
      <tr>
        <td>blur</td>
        <td>void</td>
        <td>Emits when the dropdown closes</td>
      </tr>

    </dato-api-table>

  </div>
</div>
