<dato-preview title="Select">

  <div style="width: 250px;">

    <dato-select [formControl]="control" placeholder="Select items">

      <ng-container *datoActive="let active">
        {{active?.label}}
      </ng-container>

      <ng-container *ngFor="let item of options;">
        <ng-container *datoOption="item">
          {{item.label}}
        </ng-container>
      </ng-container>

    </dato-select>


  </div>


  <dato-tabs show="html">

    <textarea datoHighlight="html">
      <dato-select></dato-select>
    </textarea>

  </dato-tabs>

</dato-preview>

<div class="panel mt-4">

  <div class="panel-heading">
    API
  </div>

  <div class="panel-block">

    <dato-api-table>
      <tr>
        <td>datoSize</td>
        <td>lg, md, sm</td>
      </tr>
    </dato-api-table>

  </div>
</div>
