<dato-preview title="Grouping Example">

  <p>
    A basic example with three static rows and two columns.
  </p>

  <div *ngIf="data">
    <div style="height: 300px">
      <dato-grid [options]="options" #gridRef></dato-grid>
    </div>
  </div>


  <dato-tabs show="html,js">

    <textarea datoHighlight="html">
      <div *ngIf="data">
        <div style="height: 300px">
          <dato-grid [options]="options" #gridRef></dato-grid>
        </div>
      </div>
    </textarea>

    <textarea datoHighlight="js">
  export class GridGroupingPreviewComponent extends DatoGrid<any> {

  data = [
    {
      id: 1,
      group: 'Group A',
      value: 'Item one'
    },
    {
      id: 2,
      group: 'Group A',
      value: 'Item two'
    },
    {
      id: 3,
      group: 'Group A',
      value: 'Item three'
    },
    {
      id: 4,
      group: 'Group B',
      value: 'Item three'
    },
    {
      id: 5,
      group: 'Group B',
      value: 'Item three'
    },
    {
      id: 6,
      group: 'Group C',
      value: 'Item three'
    }
  ];

  ngOnInit() {
    super.ngOnInit();

    this.datoGridReady.subscribe(() => {
      this.setRows(this.data);
    });
  }

  getColumns(): GridColumns {
    return [
      {
        headerName: "Group",
        field: "group",
        rowGroup:true,
        hide:true
      },
      {
        headerName: "ID",
        field: "id",
        width: 100,
        filter: "agNumberColumnFilter"
      },
      {
        headerName: "Value",
        field: "value",
        width: 100,
        filter: "agTextColumnFilter"
      }
    ];
  }

  getToolbarActions(): ToolbarAction[] {
    return [];
  }
}
    </textarea>


  </dato-tabs>


</dato-preview>
