<dato-preview title="List - Simple">

  <section class="d-flex">
    <div class="select-preview">
      <dato-list [formControl]="control" [dataSet]="options" #datoListGroupMulti>

        <dato-group *ngFor="let group of datoListGroupMulti.data">
          <div groupLabel>{{group.label}}</div>

          <dato-option *ngFor="let option of group.children; index as index" [option]="option" multi [disabled]="index === 0">
            {{option.label}}
          </dato-option>

        </dato-group>

      </dato-list>


      <p datoFont class="mt-10">Control value: <span class="code">{{control.value | json}}</span></p>

    </div>

  </section>
  <dato-tabs show="html">

    <textarea datoHighlight="html">

    </textarea>

  </dato-tabs>
</dato-preview>
