<dato-preview title="List - Simple">

  <section class="d-flex">
    <div class="select-preview">
      <dato-list [search]="search"></dato-list>
      <!--<dato-select [formControl]="simpleControl" [dataSet]="options" [isCombo]="false" #datoSelectSimple>-->

        <!--<dato-option *ngFor="let option of datoSelectSimple.data; index as index" [option]="option" [disabled]="index === 1">-->
          <!--{{option.label}}-->
        <!--</dato-option>-->

      <!--</dato-select>-->

      <!--<p datoFont class="mt-10">Control value: <span class="code">{{simpleControl.value | json}}</span></p>-->

    </div>

  </section>
  <dato-tabs show="html">

    <textarea datoHighlight="html">
      <!--<dato-select [formControl]="simpleControl" [dataSet]="options" [isCombo]="false" #datoSelectSimple>-->

        <!--<dato-option *ngFor="let option of datoSelectSimple.data; index as index" [option]="option" [disabled]="index === 1">-->
          <!--option.label-->
        <!--</dato-option>-->

      <!--</dato-select>-->
    </textarea>

  </dato-tabs>
</dato-preview>
