<dato-preview title="Polling">

  <p>Use this function when you need to perform polling</p>

  <dato-tabs show="js">

    <textarea datoHighlight="js">
      import { polling } from '@datorama/core';

      const http = this.dataService.getData;
      polling(http, period, initialDelay = 0).subscribe();
    </textarea>

  </dato-tabs>

</dato-preview>


<dato-preview title="Web Worker">

  <p>Use this function when you have an expensive operation that you want to run inside a web worker</p>

  <dato-tabs show="js">

    <textarea datoHighlight="js">
      import { workerMap } from '@datorama/core';

       http.get('url').pipe(mapWorker((response) => { // do some stuff and return the data}).subscribe()
    </textarea>

  </dato-tabs>

</dato-preview>

<dato-preview title="Dirty Check Operator">

  <p>Dirty Check the source value. The default comparator is JSON.stringify(head, current).</p>

  <dato-tabs show="js">

    <textarea datoHighlight="js">
    this.todosQuery.select(state => state.ui).pipe(
       dirtyCheck()
    ).subscribe(isDirty => ...);
    </textarea>

  </dato-tabs>

</dato-preview>

