<dato-preview title="Tooltip">
  <div>
    <p datoTooltip="hello world" style="display: inline-block">Tooltip</p>
  </div>

  <dato-tabs show="html">

    <textarea datoHighlight="html">
      <p datoTooltip="hello world" style="display: inline-block" #tooltip="tooltip">Tooltip</p>
    </textarea>

  </dato-tabs>

</dato-preview>

<dato-preview title="Manual Open">
  <div>
    <p datoTooltip="hello world" style="display: inline-block" datoTooltipTrigger="manual" #tooltip="datoTooltip">Tooltip</p>
    <div>
      <dato-button (click)="tooltip.show()">Open</dato-button>
      <dato-button (click)="tooltip.hide()">Close</dato-button>
    </div>

  </div>

  <dato-tabs show="html">

    <textarea datoHighlight="html">
      <p datoTooltip="hello world" style="display: inline-block" datoTooltipTrigger="manual" #tooltip="datoTooltip">Tooltip</p>
      <div>
        <dato-button (click)="tooltip.show()">Open</dato-button>
        <dato-button (click)="tooltip.hide()">Close</dato-button>
      </div>
    </textarea>

  </dato-tabs>

</dato-preview>

<dato-preview title="Long Tooltip">

  <div class="d-flex">
    <p style="margin-right: 10px">Long Tooltip</p>
    <dato-icon datoTooltip="A simple message, without title, explains some stuff and other stuff as well, to read more" datoIcon="plus-add" datoTooltipTrigger="click"
               datoTooltipPosition="right"
               datoTooltipType="long"></dato-icon>
  </div>

  <dato-tabs show="html">

    <textarea datoHighlight="html">
      <dato-icon datoTooltip="A simple message, without title, explains some stuff and other stuff as well, to read more" datoIcon="plus-add" datoTooltipTrigger="click"
               datoTooltipPosition="right"
               datoTooltipType="long"></dato-icon>
    </textarea>

  </dato-tabs>

</dato-preview>

<dato-preview title="Long Tooltip - Hover">

  <div class="d-flex">
    <p style="margin-right: 10px">Long Tooltip</p>
    <dato-icon datoTooltip="A simple message, without title, explains some stuff and other stuff as well, to read more" datoIcon="plus-add"
               datoTooltipPosition="right"
               datoTooltipType="long"></dato-icon>
  </div>

  <dato-tabs show="html">

    <textarea datoHighlight="html">
      <dato-icon datoTooltip="A simple message, without title, explains some stuff and other stuff as well, to read more" datoIcon="plus-add"
               datoTooltipPosition="right"
               datoTooltipType="long"></dato-icon>
    </textarea>

  </dato-tabs>

</dato-preview>

<dato-preview title="Custom Template">
  <p [datoTooltip]="tpl" datoTooltipTrigger="click" datoTooltipType="long" style="display: inline-block">Long
    Tooltip</p>
  <ng-template #tpl><a (click)="hello()">Hello world</a></ng-template>

  <dato-tabs show="html">

    <textarea datoHighlight="html">
      <p [datoTooltip]="tpl" datoTooltipTrigger="click" datoTooltipType="long" style="display: inline-block">Long Tooltip</p>
      <ng-template #tpl><a (click)="hello()">Hello world</a></ng-template>
    </textarea>

  </dato-tabs>

</dato-preview>

<dato-preview title="Disabled">
  <div class="d-flex">
    <p style="margin-right: 10px">Long Tooltip</p>
    <dato-icon datoTooltip="A simple message, without title, explains some stuff and other stuff as well, to read more" datoIcon="plus-add"
               datoTooltipPosition="right"
               [datoTooltipDisabled]="isDisabled"
               datoTooltipType="long"></dato-icon>
  </div>

  <dato-button datoSize="sm" class="mt-10" (click)="isDisabled = !isDisabled">Toggle disabled</dato-button>

  <dato-tabs show="html">

    <textarea datoHighlight="html">
        <dato-icon datoTooltip="A simple message, without title, explains some stuff and other stuff as well, to read more" datoIcon="plus-add"
               datoTooltipPosition="right"
               [datoTooltipDisabled]="isDisabled"
               datoTooltipType="long"></dato-icon>
    </textarea>

  </dato-tabs>

</dato-preview>


<dato-preview title="Text Overflow">
  <ul style="max-width: 100px;">
    <li class="ellipsis" datoTooltip="Long Long All Text" datoTooltipPosition="right" datoTooltipOnOverflow="true" style="display: inline-block">Long Long All Text</li>
    <li class="ellipsis" datoTooltip="Not visible" datoTooltipPosition="right" datoTooltipOnOverflow="true" style="display: inline-block">Short</li>
  </ul>

  <dato-tabs show="html">

    <textarea datoHighlight="html">
      <ul style="max-width: 100px;">
        <li class="ellipsis" datoTooltip="Long Long All Text" datoTooltipPosition="right" datoTooltipOnOverflow="true" style="display: inline-block">Long Long All Text</li>
        <li class="ellipsis" datoTooltip="Not visible" datoTooltipPosition="right" datoTooltipOnOverflow="true" style="display: inline-block">Short</li>
      </ul>
    </textarea>

  </dato-tabs>

</dato-preview>

<dato-preview title="Different tooltip target">

  <div datoTooltip="A tooltip for a nested span element"
       datoTooltipPosition="right"
       [datoTooltipOverflow]="true"
       datoTooltipOffset="0 20"
       [datoTooltipTarget]="nestedTooltipElement"
       class="different-tooltip-target first-row">
    <div style="padding: 10px">
      <div class="d-flex-column">
        <span>Hovering my container won't affect me</span>
        <span>Hovering my container won't affect me</span>
        <span #nestedTooltipElement class="bold">Hovering my container will show my tooltip</span>
        <span>Hovering my container won't affect me</span>
      </div>
    </div>
  </div>

  <div #outerTooltipElement
       class="different-tooltip-target  second-row">
    <div style="padding: 10px">
      <div class="d-flex-column">
        <span>Hovering me won't trigger my container tooltip</span>
        <span>Hovering me won't trigger my container tooltip</span>
        <span>Hovering me won't trigger my container tooltip</span>
        <span datoTooltip="A tooltip for an outer div element"
              datoTooltipPosition="right"
              class="bold"
              [datoTooltipOverflow]="true"
              [datoTooltipTarget]="outerTooltipElement">Hovering me will trigger my container tooltip</span>
      </div>
    </div>
  </div>

  <dato-tabs show="html">

    <textarea datoHighlight="html">
     <div datoTooltip="A tooltip for a nested span element"
          datoTooltipPosition="right"
          [datoTooltipOverflow]="true"
          datoTooltipOffset="0 20"
          [datoTooltipTarget]="nestedTooltipElement"
          class="different-tooltip-target first-row">
    <div style="padding: 10px">
      <div class="d-flex-column">
        <span>Hovering my container won't affect me</span>
        <span>Hovering my container won't affect me</span>
        <span #nestedTooltipElement class="bold">Hovering my container will show my tooltip</span>
        <span>Hovering my container won't affect me</span>
      </div>
    </div>
  </div>

  <div #outerTooltipElement
       class="different-tooltip-target  second-row">
    <div style="padding: 10px">
      <div class="d-flex-column">
        <span>Hovering me won't trigger my container tooltip</span>
        <span>Hovering me won't trigger my container tooltip</span>
        <span>Hovering me won't trigger my container tooltip</span>
        <span datoTooltip="A tooltip for an outer div element"
              datoTooltipPosition="right"
              class="bold"
              [datoTooltipOverflow]="true"
              [datoTooltipTarget]="outerTooltipElement">Hovering me will trigger my container tooltip</span>
      </div>
    </div>
  </div>
    </textarea>

  </dato-tabs>

</dato-preview>

<div class="panel mt-4">

  <div class="panel-heading">
    API
  </div>

  <div class="panel-block">

    <dato-api-table>
      <tr>
        <td>datoTooltipType</td>
        <td>tooltip | long</td>
        <td>tooltip</td>
        <td>The type of the tooltip. tooltip is the black one</td>
      </tr>
      <tr>
        <td>datoTooltip</td>
        <td>string | TemplateRef</td>
        <td></td>
        <td>The tooltip content</td>
      </tr>
      <tr>
        <td>datoTooltipPosition</td>
        <td>One of Popper positions</td>
        <td>top</td>
        <td>The tooltip position</td>
      </tr>
      <tr>
        <td>datoTooltipClass</td>
        <td></td>
        <td></td>
        <td>Custom class to add to the tooltip</td>
      </tr>
      <tr>
        <td>datoTooltipOnTextOverflow</td>
        <td>boolean</td>
        <td>false</td>
        <td>Whether to show the tooltip only if the text is overflow</td>
      </tr>
      <tr>
        <td>datoTooltipDisabled</td>
        <td>boolean</td>
        <td>false</td>
        <td>Whether to disabled the tooltip</td>
      </tr>
      <tr>
        <td>datoTooltipTrigger</td>
        <td>click | hover | focus | manual</td>
        <td>hover</td>
        <td>The tooltip trigger</td>
      </tr>
      <tr>
        <td>datoTooltipOverflow</td>
        <td>boolean</td>
        <td>false</td>
        <td>Allows the tooltip to exceed from the container bounds </td>
      </tr>
      <tr>
        <td>datoTooltipOffset</td>
        <td>string | number</td>
        <td>'0 10' (if tooltip type is 'long')</td>
        <td>Set tooltip offset position</td>
      </tr>
      <tr>
        <td>datoTooltipTarget</td>
        <td>ElementRef</td>
        <td></td>
        <td>The element that the tooltip should open next to</td>
      </tr>
    </dato-api-table>

  </div>
</div>
