<aside class="menu p-4">
  <p class="menu-label">
    Datorama Components
  </p>
  <ul class="menu-list">
    <li (click)="changeTheme()"><a routerLink="colors" routerLinkActive="is-active">Colors</a></li>
    <li (click)="changeTheme()"><a routerLink="icons" routerLinkActive="is-active">Icons</a></li>
    <li (click)="changeTheme()"><a routerLink="typography" routerLinkActive="is-active">Typography</a></li>
    <li (click)="changeTheme()"><a routerLink="buttons" routerLinkActive="is-active">Buttons</a></li>
    <li (click)="changeTheme()"><a routerLink="grid" routerLinkActive="is-active">Grid</a></li>
    <li (click)="changeTheme()"><a routerLink="inputs" routerLinkActive="is-active">Inputs</a></li>
    <li (click)="changeTheme()"><a routerLink="menu" routerLinkActive="is-active">Menu</a></li>
  </ul>
</aside>
