<dato-preview title="ActionMenu">

  <dato-action-menu>
    <dato-icon datoOrigin datoIcon="plus" datoSize="lg"></dato-icon>

    <dato-dropdown>
      <dato-action-menu-item (click)="click()">
        <dato-text>Item one</dato-text>
      </dato-action-menu-item>
    </dato-dropdown>

  </dato-action-menu>


  <dato-action-menu>
    <dato-icon datoOrigin datoIcon="close" datoSize="lg"></dato-icon>

    <dato-dropdown>
      <dato-action-menu-item>
        <dato-text>Item one</dato-text>
      </dato-action-menu-item>
      <dato-action-menu-item>
        <dato-text>Item two</dato-text>
      </dato-action-menu-item>
      <dato-action-menu-item>
        <dato-text>Item three</dato-text>
      </dato-action-menu-item>
    </dato-dropdown>

  </dato-action-menu>

  <dato-tabs show="html">

    <textarea datoHighlight="html">
       <dato-action-menu>
         <dato-icon datoOrigin datoIcon="plus" datoSize="lg"></dato-icon>

          <dato-dropdown>
            <dato-action-menu-item>
              <dato-text>Item one</dato-text>
            </dato-action-menu-item>
          </dato-dropdown>

        </dato-action-menu>
    </textarea>

  </dato-tabs>

</dato-preview>
