<script src="../../../../../../../Downloads/tx.ts"></script>
<dato-preview title="Introduction">
  <dato-text>
    dato-grid component, is a wrapper around AgGrid, with predefined configuration,
    built-in functionality (such as the pagination component) and opinionated graphic design.<br>
    dato-toolbar component, integrates with dato-grid and provides easy, opinionated way to interact with the grid.

    <br><br>
    The toolbar component, can received any ng-template element in the HTML markup,<br>
    or an array of actions (see the full <a href="/gallery/grid#toolbar_api">API</a> below).

    <br><br>
    This page does not include how to work with AgGrid API. You can see AgGrid API <a
    href="https://www.ag-grid.com/javascript-grid-reference-overview/" target="_blank">here</a>.
  </dato-text>
</dato-preview>


<dato-grid-basic-preview></dato-grid-basic-preview>

<dato-grid-actions-preview></dato-grid-actions-preview>

<div class="panel mt-4">

  <div class="panel-heading">
    Grid API
  </div>

  <div class="panel-block">

    <dato-api-table>
      <tr>
        <td>options</td>
        <td>GridOptions</td>
        <td>{{ '{}' }}</td>
        <td>The grid options</td>
      </tr>
    </dato-api-table>

    <dato-api-table type="outputs">
      <tr>
        <td>gridReady</td>
        <td>GridReadyEvent</td>
        <td>Emits the event when the grid is ready</td>
      </tr>
    </dato-api-table>

  </div>
</div>


<div class="panel mt-4">

  <div class="panel-heading">
    <a name="toolbar_api" href="javascript: void(0)"></a>
    Toolbar API
  </div>

  <div class="panel-block">

    <dato-api-table>
      <tr>
        <td>grid</td>
        <td>DatoGridComponent</td>
        <td>none</td>
        <td>A reference to DatoGridComponent</td>
      </tr>
      <tr>
        <td>actions</td>
        <td>ToolbarAction[]</td>
        <td>[]</td>
        <td>An array of toolbar buttons</td>
      </tr>
    </dato-api-table>

  </div>
</div>
